<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать человека</title>
</head>
<body>
<h1>Редактирование данных</h1>
<form th:action="@{/people/{id}/edit(id=${person.id})}" th:object="${person}" method="post">
    <div>
        <label for="fio">ФИО:</label>
        <input type="text" id="fio" th:field="*{fio}" required/>
    </div>
    <div>
        <label for="address">Адрес:</label>
        <input type="text" id="address" th:field="*{address}" required/>
    </div>
    <div>
        <label for="number">Телефон:</label>
        <input type="text" id="number" th:field="*{number}" required/>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required/>
    </div>
    <button type="submit">Сохранить</button>
</form>
<a href="/people">Назад</a>
</body>
</html>
